# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.env
instance/

# Flask specific
*.sqlite3
*.db

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Coverage reports
htmlcov/
.coverage

# Byte-compiled / C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
